@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: local('Noto Sans CJK KR'), local('NotoSansCJKKR'), local('노토 산스 CJK KR'), local('노토산스CJKKR'), url('//hangul.online/static/fonts/noto-sans-cjk-kr/Noto-Sans-CJK-KR-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Noto Sans CJK KR', Calibri, Arial, sans-serif;
    color: #f2ede3;
    background: #333;
    font-size: 0.9em;
    font-weight: 300;
}

a:not(.image), span.link {
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 0 5px;
	text-transform: uppercase;
	color: inherit;
	border-bottom: 1px solid;
}

a:not(.image):first-child, span.link:first-child {
	margin-left: 0;
}

a:not(.image):hover, span.link:hover {
	opacity: 0.5;
	transition: opacity 0.3s;
}

a.email {
	text-transform: initial;
	word-break: break-all;
}

p.right {
	text-align: right;
}

.logo {
	width: 15rem;
}

.logo.appeyroad {
	background-color: #2424AC;
	padding: 15px;
}

.item {
	
	width: 100%;
	font-size: 1.7em;
	display: block;
	padding: 10px 30px 10px 30px;
	background: #FFF8;
	border-radius: 10px;
	margin-top: 20px;
}

.item:first-of-type {
	margin-top: 30px;
}

.item:last-of-type {
	margin-bottom: 30px;
}

.item .time {
	flex: 1;
	display: flex;
	align-items: center;
}

.item .time::after {
	content: '';
	flex: 1;
	margin-left: 0.4em;
	margin-right: 0.33em;
	border-bottom: dotted 1px;
	border-color: inherit;
}

.item .time, .item .content {
	width: 100%;
}

#alert {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px 80px 20px 80px;
	font-size: 1.4em;
	text-align: right;
	transition: 0.5s;
	z-index: 1000;
}

#alert.active {
	color: #FFF;
	background: #0005;
}

#alert:not(.active) {
	color: transparent;
	background: transparent;
}

#alert .text {
	max-width: 30em;
	margin: auto;
}

.container { height: 100%; }

.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bl-main > section {
	position: absolute;
	width: calc(50% - 0.2rem);
	height: calc(50% - 0.2rem);
}

.bl-main > section:first-child {
	top: 0;
	left: 0;
	background: #88694B;
	color: #FFFFFF;
}

.bl-main > section:nth-child(2) {
	top: 0;
	left: calc(50% + 0.2rem);
	background: #EED3B1;
	color: #2F2F2F;
}

.bl-main > section:nth-child(3) {
	top: calc(50% + 0.2rem);
	left: 0;
	background: #EED3B1;
	color: #2F2F2F;
}

.bl-main > section:nth-child(4) {
	top: calc(50% + 0.2rem);
	left: calc(50% + 0.2rem);
	background: #88694B;
	color: #FFFFFF;
}

.bl-expand {
	overflow-y: auto;
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	user-select: none;
}

.bl-box .cover {
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.2em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}

.bl-box .cover h2 {
	margin-top: 0;
}

.bl-box .cover svg {
	width: 3em;
}

.bl-main > section:first-child svg {
	filter: invert(1);
}

.bl-main > section:nth-child(4) svg {
	filter: invert(1);
}

.bl-icon {
	font-family: 'Noto Sans CJK KR', 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.bl-icon:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
	font-weight: normal;
}

.bl-icon-about:before {
	content: "\e9ce";
}

.bl-icon-agenda:before {
	content: "\e953";
}

.bl-icon-credits:before {
	content: "\e9da";
}

.bl-icon-contact:before {
	content: "\e945";
}

.bl-main > section .bl-icon-close {
	position: fixed;
	top: 3.25rem;
	right: 3.25rem;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.bl-icon-close:before {
	content: "\ea0f";
}

.bl-content, 
div.bl-panel-items > div > div {
	max-width: 50em;
	margin: auto;
	text-align: justify;
	opacity: 0;
	pointer-events: none;
	position: relative;
	padding: 150px 120px 150px 120px;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.bl-content p {
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 1.7em;
	line-height: 1.8;
}

.bl-content h2 {
	font-size: 3em;
	font-weight: 300;
	margin: 0 0 20px 0;
	display: flex;
	align-items: center;
}

.bl-content h2::before {
	content: '';
	margin-right: 0.5em;
	flex: 1;
	height: 0.4em;
	border-bottom: solid 1px;
	border-color: inherit;
}

.bl-content article {
	padding: 20px 0px 20px 0px;
}

.bl-content article:not(:first-child) {
	padding-top: 10px;
}

.bl-content article h3 {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 5px 0 10px 0;
	font-size: 1.4em;
}

.bl-content article h3 .subtitle {
	font-weight: 400;
	text-transform: initial;
}

.bl-content section {
	margin-bottom: 40px;
}

.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
} 

.bl-content > ul li {
	display: inline-block;
	width: 20%;
	margin: 1%;
}

.bl-content > ul li a {
	display: block;
	padding: 0;
	border: 8px solid rgba(0,0,0,0.1);
}

.bl-content > ul li a img {
	display: block;
	max-width: 100%;
}

.bl-content ul.footnote {
	margin-top: 5em;
}

.bl-content ul.footnote li {
	width: 100%;
}

div.bl-panel-items,
div.bl-panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div {
	width: 60%;
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	top: 90px;
	pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
	font-size: 1.3em;
}

div.bl-panel-items > div > div img {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}

div.bl-panel-items {
	top: 100%;
	z-index: 9999;
}

div.bl-panel-items > div {
	background: #3ba5db;
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

div.bl-panel-items nav {
	position: absolute;
	z-index: 9999;
	width: 216px;
	left: 50%;
	top: 0px;
	margin-left: -108px;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
	float: left;
	margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
	font-weight: 700;
	letter-spacing: 2px;
	display: block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -70px;
}

div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}

.bl-main > section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	background: #88694B;
}
.bl-main > section:nth-child(2).bl-expand {
	background: #EED3B1;
}
.bl-main > section:nth-child(3).bl-expand {
	background: #EED3B1;
}
.bl-main > section:nth-child(4).bl-expand {
	background: #88694B;
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
	height: 0;
}

.bl-box .cover {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover .cover {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.bl-content,
.bl-icon-close {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
	.bl-content,
	.bl-box {
		font-size: 75%;
		padding-left: 30px;
		padding-right: 30px;
	}

	.bl-box .cover {
		font-size: 100%;
	}

	.bl-expand .bl-box {
		height: 130px;
	}

	.bl-content > ul li {
		width: 40%;
	}

	.bl-main > section .bl-icon-close {
		position: absolute;
	}
}
